/* =========== EXTRAS ========== */
.extras{
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.available-now{
    position: relative;
    background-color: #1F618D;
    margin-left: 2rem;
    margin-right: 2rem;
}

.extras-text{
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 3rem;
    color: #ffffff;
    text-decoration: underline;
}

.extras-restaurants{
    align-content: center;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-left: 2rem;
    height: 15rem;
    overflow: auto;
    white-space: nowrap;
}

.restaurant{
    position: relative;
    display: inline-block;
    margin-left: 1rem;
    color:#ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #6699cc;
    max-height: 100%;
    width: 30%;
}


.logo-pic{
    height: 6rem;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.available-later{
    position: relative;
    background-color: #1F618D;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
}

.food-to-eat{
    color:#ffffff;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    white-space: normal;
}

/* ============= TRENDING =========== */
.trending{
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.trending-item{
    position: relative;
}

.trending-dining-hall{
    position: relative;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem;
    font-weight: bold;
}

.trending-breadcrumbs{
    text-align: center;
}

.crumb{
    display: inline;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hold-reviews{
    position: relative;
    background-color: #1F618D;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 100%;
    overflow-y: auto;
}
.not-comments{
    text-align: center;
}

.food-item{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #ffffff;
    padding-top: 1rem;
}

.stars{
    width:2rem;
    height: 2rem;
}

.checked{
    color: #ffcc00;
}

.comment{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #6699cc;
    height: 8rem;
    margin-bottom: 2rem;
}

.avatar-area{
    position: absolute;
    width: 15rem;
    height: 7.8rem;
    border-right: 2px solid #ffffff;
}
.avatar{
    margin-left: 1rem;
    height: 5.5rem;
    width: 5.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.username{
    display: inline;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    /* 
    margin-top: 0rem;
    margin-bottom: 1rem; */
}

.the-stars-comment{
    position: absolute;
    margin-left:7rem;
    margin-top:-3rem;
}

.split{
    padding-left: 15rem;
    margin-left: 2rem;
    display:inline-block;
    
}

.user-comment{
    position: absolute;
    color:#ffffff;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

/* ============= WEEK MENU ============ */
.weekMenu-text{
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
}

.weekMenu {
    position: relative;
    background-color: #1F618D;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
}

.weekMenu-days{
    align-content: center;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-left: 2rem;
    height: 15rem;
    overflow: auto;
    white-space: nowrap;
}

.weekMenuItems{
    position: relative;
    display: inline-block;
    margin-left: 1rem;
    color:#ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9rem;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #6699cc;
    max-height: 100%;
    width: 30%;
}

/* ============= TODAY MENU ========== */
.todayMenu-text{
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
}

.todayMenu {
    position: relative;
    background-color: #1F618D;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    width: 60%;
}

.todayMenu-day{
    align-content: center;
    /*margin-left: 1rem;*/
    margin-right: 2rem;
    margin-bottom: 20px;
    padding-left: 2rem;
    height: 100%;
    width: 90%;
    overflow: auto;
    white-space: nowrap;
}

.todayMenuItems{
    position: relative;
    display: block;
    margin-left: 1rem;
    margin-bottom: 50px;
    color:#ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1 rem;
    padding-top: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9rem;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #6699cc;
    max-height: 100%;
}

/* =========== SETTINGS ========== */
.settings{
    text-align: center;
}
.avatar-pic{
    vertical-align: 10rem;
    display: inline-block;
    padding-left: 2rem;
}

.profile-creds{
    padding-left: 7rem;    
    display: inline-block;
}

.img-av{
    margin-top: 1rem;
    display: inline-block;
}

.hold-avatar{
    text-align: center;
    display: inline-block;

}

#prof, #nanny, #hair, #stache, #jane, #cool {
    width: 5rem;
}

.control-label{
    float: left;
}

/* ========== HEADER =============  */
.chng-avt-header{
    margin-left: -1rem;
    margin-top: -3rem;
}

.hold-avatar img:hover {
    background-color: #ddd;
    width: 100%;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: #80bfff;
}
  
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
 }
  
.header a:hover {
    background-color: #1F618D;
    color: #ffffff;
}

.header-right {
    float: none;
    padding-left: 26%;
    
}

.lets-eat{
    font-size: 8rem;
    font-family: 'Bitter', serif;
    color: #ffffff;
    text-align: center;
}

.head-butt{
    background-color: #ddd;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    margin-right: 1rem;
}

@media screen and (max-width: 800px) {
    .header a {
      float: none;
      display: block;
      text-align: center;
    }
    .header-right {
      float: none;
    }
    .head-butt{
        text-align: center;
        background-color: #ddd;
        border: 2px solid #ffffff;
        border-radius: 5px;
        color: #ffffff;
        margin-right: 1rem;
        width: 20rem;
        margin-top: 1rem;
    } 
        
}
  
/* ======== FOOD ITEM RATING ======== */
.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #AEC86B;
}
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #F9C078;
}