<head>
	<link rel="import" href="../index.html">
</head>
<body>
<div class="extras">
	<div class="available-now">
		<h1 class="extras-text"> Available Now </h1>
		<div class="extras-restaurants">
				<div class="restaurant">
					<img class="logo-pic" src="../css/logos/papa-johns.png"/>
					<p class="food-to-eat"> 1 slice of pizza and softdrink </p>
				</div>
			<!-- <div class="restaurant">
				<ul>
					<li>Name</li>
					<li>Items Included</li>
					<li>Hours</li>
				</ul>
			</div>	 -->
		</div>
	</div>
	<div class="available-later">
		<h1 class="extras-text" > Available Later </h1>
		<div class="extras-restaurants">
			<div class="restaurant">
				<img class="logo-pic" src="../css/logos/subway.png"/>
				<p class="food-to-eat"> 6 inch sandwich and softdrink</p>
			</div>
			<div class="restaurant">
					<img class="logo-pic" src="../css/logos/subway.png"/>
					<p class="food-to-eat"> 6 inch sandwich and softdrink</p>
				</div>
				<div class="restaurant">
						<img class="logo-pic" src="../css/logos/subway.png"/>
						<p class="food-to-eat"> 6 inch sandwich and softdrink</p>
					</div>
					<div class="restaurant">
							<img class="logo-pic" src="../css/logos/subway.png"/>
							<p class="food-to-eat"> 6 inch sandwich and softdrink</p>
						</div>
						<div class="restaurant">
								<img class="logo-pic" src="../css/logos/subway.png"/>
								<p class="food-to-eat"> 6 inch sandwich and softdrink</p>
							</div>
							<div class="restaurant">
									<img class="logo-pic" src="../css/logos/subway.png"/>
									<p class="food-to-eat"> 6 inch sandwich and softdrink</p>
								</div>
								<div class="restaurant">
										<img class="logo-pic" src="../css/logos/subway.png"/>
										<p class="food-to-eat"> 6 inch sandwich and softdrink</p>
									</div>
		</div>
	</div>
</div>
</body>