<div class="trending">
	<div class="trending-item">
		<h1 class="trending-dining-hall">{{foodData.location}} {{foodData.station}}</h1>
		<div class="hold-reviews">
			<div class="not-comments">
				<h1 class="food-item">{{foodData.itemName}}</h1>
				<div class="the-stars">
					<div id="stars">
						<span ng-repeat="i in getNumber(5) track by $index" 
							class="fa fa-star stars" ng-class="foodData.totalRating - ($index+1) >= 0 ? 'checked' : 'none'"></span>
					</div>
				</div>
				<button type="button" class="btn btn-light review-button">Review this Item</button>
			</div>
			<div class="comments-here">
				<div class="comment" ng-repeat="review in foodData.reviews">
					<div class="avatar-area">
						<img src="../css/avatars/cool-guy.png" class="avatar"/>
						<p class="username">cool-guy</p>
						<div id="stars">
							<span ng-repeat="i in getNumber(5) track by $index" 
								class="fa fa-star stars" ng-class="review.rating - ($index+1) >= 0 ? 'checked' : 'none'"></span>
						</div>
					</div>
					<div class="split">
						<p class="user-comment">{{review.comment}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>