<div class="settings">
	<div class="avatar-pic">
			<!-- Button trigger modal popup -->

<button type="button" class="btn btn-default" style="padding-right: 1.7rem; margin-top: -14rem;"  
				data-toggle="modal" data-target="#Modal">
		<img ng-attr-id="defaultPIC" class="avatar" ng-src="{{user.imgURL}}" alt=""/>
	  </button>
	  <div class="chng-avt-header">
		  Click image to change avatar
		</div>
	  
	  <!-- Modal popup -->
	  <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="ModalLabel">Change Avatar</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<div class="hold-avatar">
					<div class="img-av" ng-class="{'btn-dark': pickedCool, 'btn-light': !pickedCool}">
						<a href="#" ng-click="chooseImage('cool')">
							<img src="../css/avatars/cool-guy.png" ng-attr-id="cool">
						</a>
					</div>
					<div class="img-av" ng-class="{'btn-dark': pickedNanny, 'btn-light': !pickedNanny}">
						<a href="#" ng-click="chooseImage('nanny')">
							<img src="../css/avatars/mean-nanny.png" ng-attr-id="nanny">
						</a>
					</div>
					<div class="img-av" ng-class="{'btn-dark': pickedProf, 'btn-light': !pickedProf}">
						<a href="#" ng-click="chooseImage('prof')">
							<img src="../css/avatars/el-professor.png" ng-attr-id="prof">
						</a>						
					</div>
					<div class="img-av" ng-class="{'btn-dark': pickedHair, 'btn-light': !pickedHair}">
						<a href="#" ng-click="chooseImage('hair')">
							<img src="../css/avatars/messy-hair.png" ng-attr-id="hair">
						</a>
					</div>
					<div class="img-av" ng-class="{'btn-dark': pickedStache, 'btn-light': !pickedStache}">
						<a href="#" ng-click="chooseImage('stache')">
							<img src="../css/avatars/mustache-dude.png" ng-attr-id="stache">
						</a>
					</div>
					<div class="img-av" ng-class="{'btn-dark': pickedJane, 'btn-light': !pickedJane}">
						<a href="#" ng-click="chooseImage('jane')">
							<img src="../css/avatars/plane-jane.png" ng-attr-id="jane">
						</a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-primary" ng-click="saveImage()" data-dismiss="modal">Save changes</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="profile-creds">
		<div class="cred-change">
			<div class="form-group">
				<br>
				<label for="Username" class="col-md-3 control-label"> 
					Username
				</label>
				<div class="col-md-14">
					<input type="text" class="form-control" ng-model="user.username">
				</div>
			</div>
			<div class="form-group">
				<label for="Password" class="col-md-3 control-label"> 
					Password
				</label>
				<div class="col-md-14">
					<input type="password" class="form-control" ng-model="user.password">
				</div>
			</div>
		</div>
		<div class="diet-choices">
			<div class="diet-label"> 
				<label for="Dietary Restrictions">
					Dietary Restrictions
				</label>
			</div>
				<form action="/settings">
				  <input type="checkbox" ng-model="user.dietaryRestrictions.vegetarian">Vegetarian<br>
				  <input type="checkbox" ng-model="user.dietaryRestrictions.vegan">Vegan<br>
				  <input type="checkbox" ng-model="user.dietaryRestrictions.nutFree">Nut-free<br>
				  <input type="checkbox" ng-model="user.dietaryRestrictions.dairyFree">Dairy-free<br>
				  <input type="checkbox" ng-model="user.dietaryRestrictions.glutenFree">Gluten-free<br>
					<input type="checkbox" ng-model="user.dietaryRestrictions.paleo">Paleo<br>
					<br>
				  <button class="btn btn-primary" ng-click="saveChanges()">
						Save Changes
					</button>
					<button class="btn btn-secondary">
						<a style="color: white" ng-href="/">
							Logout
						</a>
					</button>
				</form>
		</div>
	</div>
</div>