<center>
    <h1>Today's Menus</h1>

    <button class="btn" ng-class="{'btn-dark': freshFoodBreakfast || freshFoodLunch || freshFoodDinner, 
                            'btn-light': !freshFoodBreakfast || !freshFoodLunch || !freshFoodDinner}" 
            ng-click="showMenu('FF Breakfast')">
            Fresh Food Company
    </button>
    <button class="btn" ng-class="{'btn-dark': gatorCornerBreakfast || gatorCornerLunch || gatorCornerDinner, 
                            'btn-light': !gatorCornerBreakfast || !gatorCornerLunch || !gatorCornerDinner}" 
            ng-click="showMenu('GC Breakfast')">
            Gator Corner
    </button>
    <br> <br>

    <div ng-show="freshFoodBreakfast">
        <button class="btn" ng-class="{'btn-dark': freshFoodBreakfast, 'btn-light': !freshFoodBreakfast}" ng-click="showMenu('FF Breakfast')">Breakfast</button>
        <button class="btn" ng-class="{'btn-dark': freshFoodLunch, 'btn-light': !freshFoodLunch}" ng-click="showMenu('FF Lunch')">Lunch</button>
        <button class="btn" ng-class="{'btn-dark': freshFoodDinner, 'btn-light': !freshFoodDinner}" ng-click="showMenu('FF Dinner')">Dinner</button>
        <br>
        <div class="todayMenu" ng-repeat="FFBreakfastFood in FFBreakfast">
            <div class="todayMenu-day" >
                    <div>
                        <h2 class="todayMenu-text">{{FFBreakfastFood.station}}</h2>
                    </div>
                    <div class="todayMenuItems">
                        <div class="todayMenu-text" ng-repeat="FFBreakfastItem in FFBreakfastFood.MondayItems">
                            <a href="" style="color: white; text-decoration: none" ng-click="getFoodItem(FFBreakfastItem, FFBreakfastFood.station)">
                                {{FFBreakfastItem}}
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div ng-show="freshFoodLunch">
        <button class="btn" ng-class="{'btn-dark': freshFoodBreakfast, 'btn-light': !freshFoodBreakfast}" ng-click="showMenu('FF Breakfast')">Breakfast</button>
        <button class="btn" ng-class="{'btn-dark': freshFoodLunch, 'btn-light': !freshFoodLunch}" ng-click="showMenu('FF Lunch')">Lunch</button>
        <button class="btn" ng-class="{'btn-dark': freshFoodDinner, 'btn-light': !freshFoodDinner}" ng-click="showMenu('FF Dinner')">Dinner</button>
        <br>
        <div class="todayMenu" ng-repeat="FFLunchFood in FFLunch">
            <div class="todayMenu-day">
                <div>
                    <h2 class="todayMenu-text">{{FFLunchFood.station}}</h2>
                </div>
                <div class="todayMenuItems">
                    <div class="todayMenu-text" ng-repeat="FFLunchItem in FFLunchFood.MondayItems">
                        <a href="" style="color: white; text-decoration: none" ng-click="getFoodItem(FFLunchItem, FFLunchFood.station)">
                            {{FFLunchItem}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="freshFoodDinner">
        <button class="btn" ng-class="{'btn-dark': freshFoodBreakfast, 'btn-light': !freshFoodBreakfast}" ng-click="showMenu('FF Breakfast')">Breakfast</button>
        <button class="btn" ng-class="{'btn-dark': freshFoodLunch, 'btn-light': !freshFoodLunch}" ng-click="showMenu('FF Lunch')">Lunch</button>
        <button class="btn" ng-class="{'btn-dark': freshFoodDinner, 'btn-light': !freshFoodDinner}" ng-click="showMenu('FF Dinner')">Dinner</button>
        <br>
        <div class="todayMenu" ng-repeat="FFDinnerFood in FFDinner">
            <div class="todayMenu-day" >
                <div>
                    <h2 class="todayMenu-text">{{FFDinnerFood.station}}</h2>
                </div>
                <div class="todayMenuItems">
                    <div class="todayMenu-text" ng-repeat="FFDinnerItem in FFDinnerFood.MondayItems">
                        <a href="" style="color: white; text-decoration: none" ng-click="getFoodItem(FFDinnerItem, FFDinnerFood.station)">
                            {{FFDinnerItem}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="gatorCornerBreakfast">
        <button class="btn" ng-class="{'btn-dark': gatorCornerBreakfast, 'btn-light': !gatorCornerBreakfast}" ng-click="showMenu('GC Breakfast')">Breakfast</button>
        <button class="btn" ng-class="{'btn-dark': gatorCornerLunch, 'btn-light': !gatorCornerLunch}" ng-click="showMenu('GC Lunch')">Lunch</button>
        <button class="btn" ng-class="{'btn-dark': gatorCornerDinner, 'btn-light': !gatorCornerDinner}" ng-click="showMenu('GC Dinner')">Dinner</button>
        <br>
        <div class="todayMenu" ng-repeat="GCBreakfastFood in GCBreakfast">
            <div class="todayMenu-day" >
                <div>
                    <h2 class="todayMenu-text">{{GCBreakfastFood.station}}</h2>
                </div>
                <div class="todayMenuItems">
                    <div class="todayMenu-text" ng-repeat="GCBreakfastItem in GCBreakfastFood.MondayItems">
                        <a href="" style="color: white; text-decoration: none" ng-click="getFoodItem(GCBreakfastItem, GCBreakfastFood.station)">
                            {{GCBreakfastItem}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="gatorCornerLunch">
        <button class="btn" ng-class="{'btn-dark': gatorCornerBreakfast, 'btn-light': !gatorCornerBreakfast}" ng-click="showMenu('GC Breakfast')">Breakfast</button>
        <button class="btn" ng-class="{'btn-dark': gatorCornerLunch, 'btn-light': !gatorCornerLunch}" ng-click="showMenu('GC Lunch')">Lunch</button>
        <button class="btn" ng-class="{'btn-dark': gatorCornerDinner, 'btn-light': !gatorCornerDinner}" ng-click="showMenu('GC Dinner')">Dinner</button>
        <br>
        <div class="todayMenu" ng-repeat="GCLunchFood in GCLunch">
            <div class="todayMenu-day" >
                <div>
                    <h1 class="todayMenu-text">{{GCLunchFood.station}}</h1>
                </div>
                <div class="todayMenuItems">
                    <div class="todayMenu-text" ng-repeat="GCLunchItem in GCLunchFood.MondayItems">
                        <a href="" style="color: white; text-decoration: none" ng-click="getFoodItem(GCLunchItem, GCLunchFood.station)">
                            {{GCLunchItem}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="gatorCornerDinner">
        <button class="btn" ng-class="{'btn-dark': gatorCornerBreakfast, 'btn-light': !gatorCornerBreakfast}" ng-click="showMenu('GC Breakfast')">Breakfast</button>
        <button class="btn" ng-class="{'btn-dark': gatorCornerLunch, 'btn-light': !gatorCornerLunch}" ng-click="showMenu('GC Lunch')">Lunch</button>
        <button class="btn" ng-class="{'btn-dark': gatorCornerDinner, 'btn-light': !gatorCornerDinner}" ng-click="showMenu('GC Dinner')">Dinner</button>
        <br>
        <div class="todayMenu" ng-repeat="GCDinnerFood in GCDinner">
            <div class="todayMenu-day" >
                <div>
                    <h2 class="todayMenu-text">{{GCDinnerFood.station}}</h2>
                </div>
                <div class="todayMenuItems">
                    <div class="todayMenu-text"ng-repeat="GCDinnerItem in GCDinnerFood.MondayItems">
                        <a href="" style="color: white; text-decoration: none" ng-click="getFoodItem(GCDinnerItem, GCDinnerFood.station)">
                            {{GCDinnerItem}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
