<center>
	<h2>Top 10 Rated Items</h2>
	<br>
	<table class="table" style="width: 80%">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Item Name</th>
				<th scope="col">Location</th>
				<th scope="col">Rating</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in leaderboard track by $index | limitTo: 10">
				<th scope="row">{{$index+1}}</th>
				<td>
					<a href="" ng-click="getFoodItem(item.itemName, item.station, item.location)">
						{{item.itemName}}
					</a>
				</td>
				<td>{{item.location}}</td>
				<td>{{item.totalRating}}</td>
			</tr>
		</tbody>
	</table>
</center>